:root {
  --x-1: rgba(51, 153, 204, 1);
  --x-2: rgba(103, 184, 222, 1);
  --x-3: rgba(145, 201, 232, 1);
  --x-4: rgba(180, 220, 237, 1);
  --x-5: rgba(232, 248, 255, 1);
  --x-6: rgba(34, 34, 34, 1);
  --x-7: rgba(134, 134, 134, 1);
  --poppins-39px-regular-font-family: 'Poppins', Helvetica;
  --poppins-39px-regular-font-weight: 400;
  --poppins-39px-regular-font-size: 39px;
  --poppins-39px-regular-letter-spacing: 0px;
  --poppins-39px-regular-line-height: normal;
  --poppins-39px-regular-font-style: normal;
  --poppins-31px-regular-font-family: 'Poppins', Helvetica;
  --poppins-31px-regular-font-weight: 400;
  --poppins-31px-regular-font-size: 31px;
  --poppins-31px-regular-letter-spacing: 0px;
  --poppins-31px-regular-line-height: normal;
  --poppins-31px-regular-font-style: normal;
  --poppins-25px-regular-font-family: 'Poppins', Helvetica;
  --poppins-25px-regular-font-weight: 400;
  --poppins-25px-regular-font-size: 25px;
  --poppins-25px-regular-letter-spacing: 0px;
  --poppins-25px-regular-line-height: normal;
  --poppins-25px-regular-font-style: normal;
  --poppins-20px-regular-font-family: 'Poppins', Helvetica;
  --poppins-20px-regular-font-weight: 400;
  --poppins-20px-regular-font-size: 20px;
  --poppins-20px-regular-letter-spacing: 0px;
  --poppins-20px-regular-line-height: normal;
  --poppins-20px-regular-font-style: normal;
  --poppins-18px-regular-font-family: 'Poppins', Helvetica;
  --poppins-18px-regular-font-weight: 400;
  --poppins-18px-regular-font-size: 18px;
  --poppins-18px-regular-letter-spacing: 0px;
  --poppins-18px-regular-line-height: normal;
  --poppins-18px-regular-font-style: normal;
  --poppins-16px-regular-font-family: 'Poppins', Helvetica;
  --poppins-16px-regular-font-weight: 400;
  --poppins-16px-regular-font-size: 16px;
  --poppins-16px-regular-letter-spacing: 0px;
  --poppins-16px-regular-line-height: normal;
  --poppins-16px-regular-font-style: normal;
  --poppins-13px-regular-font-family: 'Poppins', Helvetica;
  --poppins-13px-regular-font-weight: 400;
  --poppins-13px-regular-font-size: 13px;
  --poppins-13px-regular-letter-spacing: 0px;
  --poppins-13px-regular-line-height: normal;
  --poppins-13px-regular-font-style: normal;
  --poppins-10px-regular-font-family: 'Poppins', Helvetica;
  --poppins-10px-regular-font-weight: 400;
  --poppins-10px-regular-font-size: 10px;
  --poppins-10px-regular-letter-spacing: 0px;
  --poppins-10px-regular-line-height: normal;
  --poppins-10px-regular-font-style: normal;
  --metrofobic-39px-regular-font-family: 'Metrophobic', Helvetica;
  --metrofobic-39px-regular-font-weight: 400;
  --metrofobic-39px-regular-font-size: 39px;
  --metrofobic-39px-regular-letter-spacing: 0px;
  --metrofobic-39px-regular-line-height: normal;
  --metrofobic-39px-regular-font-style: normal;
  --metrofobic-31px-regular-font-family: 'Metrophobic', Helvetica;
  --metrofobic-31px-regular-font-weight: 400;
  --metrofobic-31px-regular-font-size: 31px;
  --metrofobic-31px-regular-letter-spacing: 0px;
  --metrofobic-31px-regular-line-height: normal;
  --metrofobic-31px-regular-font-style: normal;
  --metrofobic-25px-regular-font-family: 'Metrophobic', Helvetica;
  --metrofobic-25px-regular-font-weight: 400;
  --metrofobic-25px-regular-font-size: 25px;
  --metrofobic-25px-regular-letter-spacing: 0px;
  --metrofobic-25px-regular-line-height: normal;
  --metrofobic-25px-regular-font-style: normal;
  --metrofobic-20px-regular-font-family: 'Metrophobic', Helvetica;
  --metrofobic-20px-regular-font-weight: 400;
  --metrofobic-20px-regular-font-size: 20px;
  --metrofobic-20px-regular-letter-spacing: 0px;
  --metrofobic-20px-regular-line-height: normal;
  --metrofobic-20px-regular-font-style: normal;
  --metrofobic-18px-regular-font-family: 'Metrophobic', Helvetica;
  --metrofobic-18px-regular-font-weight: 400;
  --metrofobic-18px-regular-font-size: 18px;
  --metrofobic-18px-regular-letter-spacing: 0px;
  --metrofobic-18px-regular-line-height: normal;
  --metrofobic-18px-regular-font-style: normal;
  --metrofobic-16px-regular-font-family: 'Metrophobic', Helvetica;
  --metrofobic-16px-regular-font-weight: 400;
  --metrofobic-16px-regular-font-size: 16px;
  --metrofobic-16px-regular-letter-spacing: 0px;
  --metrofobic-16px-regular-line-height: normal;
  --metrofobic-16px-regular-font-style: normal;
  --metrofobic-13px-regular-font-family: 'Metrophobic', Helvetica;
  --metrofobic-13px-regular-font-weight: 400;
  --metrofobic-13px-regular-font-size: 13px;
  --metrofobic-13px-regular-letter-spacing: 0px;
  --metrofobic-13px-regular-line-height: normal;
  --metrofobic-13px-regular-font-style: normal;
  --metrofobic-10px-regular-font-family: 'Metrophobic', Helvetica;
  --metrofobic-10px-regular-font-weight: 400;
  --metrofobic-10px-regular-font-size: 10px;
  --metrofobic-10px-regular-letter-spacing: 0px;
  --metrofobic-10px-regular-line-height: normal;
  --metrofobic-10px-regular-font-style: normal;
}
